.news-page {
    .news-list {
        .news-list-table {
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 4px;
            .news-list-table-header {
                background: #356a97;
                border-color: #33597b;
                color: #fff;
                padding: 10px;
            }
            .news-list-table-body {
                .news-list-table-body-row {
                    padding: 10px;
                    a {
                        color: rgb(60, 141, 188);
                        font-size: 16px;
                    }
                }
            }
            .news-list-table-body {
                .news-list-table-body-row:nth-child(even) {
                    background-color: #f9f9f9;
                }
            }
        }
    }
}
.rw-multiselect>.rw-widget-picker>div {
    display: flex;
}
