.users-page {
    .users-list {
        .users-list-table {
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 4px;
            .users-list-table-header {
                background: #356a97;
                border-color: #33597b;
                color: #fff;
                padding: 10px;
            }
            .users-list-table-body {
                .users-list-table-body-row {
                    padding: 10px;
                    a {
                        color: rgb(60, 141, 188);
                        font-size: 16px;
                    }
                }
            }
            .users-list-table-body {
                .users-list-table-body-row:nth-child(even) {
                    background-color: #f9f9f9;
                }
            }
        }
    }
}

.update-form {
    .floating-label {
        width: 100%;
        padding-bottom: 25px;
        min-height: auto;
        label {
            position: inherit;
            opacity: 1;
            font-weight: bold;
        }
        input:not(:placeholder-shown) {
            padding: 0 10px;
        }
    }
    .input-checkbox {
        max-width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        input {
            width: 20px;
            height: 20px;
        }
    }
    .preview-image {
        max-width: 350px;
        height: auto;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .form-element-upload {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
    }
    .ck.ck-reset {
        width: 100%!important;
        .ck-content {
            max-height: 350px;
            overflow-x: auto;
        }
    }
}
