.skin-blue .left-side,
.skin-blue .main-sidebar {
    background-color: #222d32;
}
.main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -webkit-transition: width .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transition: width .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out,-webkit-transform .3s ease-in-out;
}
.sidebar {
    padding-bottom: 10px;
}
.main-sidebar .user-panel,
.sidebar-menu,
.sidebar-menu>li.header {
    white-space: nowrap;
    overflow: hidden;
}
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.skin-blue .sidebar-menu>li>span {
    border-left: 3px solid transparent;
    color: #ffffff;
    cursor: pointer;
}
.skin-blue .sidebar-menu>li.active>span,
.skin-blue .sidebar-menu>li.menu-open>span,
.skin-blue .sidebar-menu>li:hover>span{
    color: #fff;
    background: #1e282c;
}
.nav>li>:focus,
.nav>li>a:hover {
    background-color: transparent;
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
    border-color: transparent;
}
.sidebar-menu>li>span {
    padding: 12px 5px 12px 15px;
    display: block;
}
.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0;
}
.skin-blue .sidebar-menu>li>.custom-dropdown-menu {
    margin: 0 1px;
    background: #2c3b41;
}
.skin-blue .sidebar-menu .custom-dropdown-menu>li>a {
    color: #8aa4af;
}
.skin-blue .sidebar-menu .custom-dropdown-menu>li>a:hover {
    color: #fff;
}
.sidebar-menu .custom-dropdown-menu>li>a {
    padding-top: 12px;
    padding-bottom: 12px;
}
.custom-dropdown-menu>li>a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px;
}
.sidebar-menu li>a {
    position: relative;
}
.dropdown {
    .custom-dropdown-menu {
        display: none;
        padding-left: 25px;
    }
}
.dropdown.open {
    .custom-dropdown-menu {
        display: block;
        padding-left: 5px;
        margin: 0 1px;
        background: #2c3b41;
    }
}
